.header {
  position: absolute;
  height: 400px;
  width: 100%;
  top: 120px;
  background-color: #db8c04;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.header div { 
  position: relative;
}

.header div img {
  position: absolute;
  left: 50%;
  margin-left: -129px;
}

.header div h2 {
  position: relative;
  top: 258px;
  text-align: center;
}