nav {
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}

nav .nav-tool {
  display: flex;
  flex-direction: column;
}

nav .nav-tool button {
  background: none;
  color: red;
  border: none;
  outline: none;
  cursor: pointer;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-3px);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  nav {
    background-color: transparent;
    position: absolute;
  }

}