#tweets-container {
  margin-top: 4rem;
}

.tweetPara {
  word-wrap: break-word;
}

.tweet {
  border: 3px solid #555;
  padding: 1.5rem;
  color: #777;
  margin-top: 1.5rem;
}

.tweet > footer {
  padding: 0.5rem 0 0 0.5rem;
  font-size: 1rem;
  border-top: 3px solid #555;
}

.user{
  display: flex;
  align-items: center;
}

.name{
  margin-left: 1rem;
}

.tweet:hover {
  box-shadow: 0.5rem 0.5rem #999;
  color: #444;
}

.tweet header {
  display: flex;
  justify-content: space-between;
}

.handler {
  display: none;
}

.tweet:hover .handler {
  display: inline-block;
  color: #777;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet footer button {
  color: blue;
  background: none;
  border: none;
  outline: none;
}

.tweet footer button:hover {
  cursor: pointer;
}

.move-up {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 0;
  display: none;
}

.move-up-icon {
  color: orange;
  font-size: 5rem;
  transition: color 0.5s;
}

.move-up-icon:hover {
  color: blue;
  transition: color 0.5s;
}

.show {
  display: inline-block;
}