.tweets {
  margin-top: 4rem;
}

.tweet {
  border: 3px solid #555;
  padding: 1.5rem;
  color: #777;
}

.tweet > footer {
  padding: 0.5rem 0 0 0.5rem;
  font-size: 1rem;
  border-top: 3px solid #555;
}

.tweet:hover {
  box-shadow: 0.5rem 0.5rem #999;
  color: #444;
}

.tweet>header {
  display: flex;
  justify-content: space-between;
}

.handler {
  display: none;
}

.tweet:hover .handler {
  display: inline-block;
  color: #777;
}